<script type='application/ld+json'>
{
"@context":"http://schema.org",
"@type":"Corporation",
"url":"https://mobnia.com",
"name":"Mobnia",
"logo": "https://mobnia.com/img/logo.png",
"address":{"@type": "PostalAddress",
 "name":"Mobnia",
 "streetAddress":"9 McEwen Street",
 "addressLocality":"Yaba",
 "addressRegion":"Lagos",
 "postalCode":"101233",
 "addressCountry":"Nigeria"
},
"sameAs":[
 "https://facebook.com/mobnia",
 "https://twitter.com/mobnia"
],
"contactPoint":[
{"@type":"ContactPoint",
 "contactType":"customer service",
 "url":"https://mobnia.com",
 "email":"hello@mobnia.com"
}
]
}
</script>