<footer>
    <div class="row">
        <div class="columns large-12 large-centered text-center">
            <ul class="social">
                <li><a href=""><img src="http://placehold.it/32x32"></a></li>
                <li><a href=""><img src="http://placehold.it/32x32"></a></li>
            </ul>
            <ul class="menu show-for-medium">
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">PROJECTS</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
            <ul class="copyright">
                <li><a href="">&copy; Mobnia, 2010-2017 </a></li>
            </ul>

        </div>

    </div>
</footer>