

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="author" content="Gulp->Webpack">
<meta name="description" content="Transitioning from Gulp to Webpack">
<link rel=icon" href="/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="msapplication-TileImage" content="/mstile-150x150.png">
<meta name="theme-color" content="#ffffff">
<meta name="application-name" content="Gulp-Webpack">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@mobnia">
<meta name="twitter:creator" content="mobnia">
<meta name="twitter:title" content="Gulp->Webpack: Transitioning from Gulp to Webpack">
<meta name="twitter:url" content="https://mobnia.com">
<meta name="twitter:description" content="Transitioning from Gulp to Webpack">
<meta name="twitter:image:src" content="https://mobnia.com/img/logo.png">

<meta property="og:url" content="https://mobnia.com">
<meta property="og:type" content="article">
<meta property="og:title" content="Gulp->Webpack: Transitioning from Gulp to Webpack">
<meta property="og:image" content="https://mobnia.com/img/logo.png">
<meta property="og:description" content="Gulp->Webpack: Transitioning from Gulp to Webpack">
<meta property="og:site_name" content="Gulp -> Webpack">
<meta property="article:author" content="Mobnia">
<meta property="article:publisher" content="https://mobnia.com">

<meta itemprop="name" content="Mobnia">
<meta itemprop="description" content="Gulp->Webpack: Transitioning from Gulp to Webpack">
<meta itemprop="image" content="https://mobnia.com/img/logo.png">
